:root {
  --full-width: 100%;
  --normal-width: 1200px;
  --bg-primary-color: #011c38;
  --text-primary-color: #353c3f;
  --title-font-size: 1.8rem;
}

@font-face {
  font-family: "Cupcakes";
  src: url(../src/font/SVN-AZ\ Cupcakes.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text-primary-color);
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.full-container {
  width: var(--full-width);
}

.container {
  width: var(--normal-width);
  margin: 0 auto;
}

.cover-background {
  background: url(../src/img/cover-back-01.png) no-repeat top center;
  background-size: cover;
  height: 490px;
  position: relative;
}
.cover-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 48%,
    rgba(0, 0, 0, 0.7) 90%
  );
  z-index: 1;
}
.language {
  width: 17px;
  margin-right: 20px;
}

.top-menu {
  height: 40px;
  width: var(--full-width);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid #ffffffc1;
  z-index: 2;
  position: relative;
}
.top-menu a {
  font-weight: 550;
}
.top-left {
  padding-left: 50px;
}

.top-right {
  padding-right: 50px;
}

.top-right a {
  padding: 15px;
}

.mid-menu {
  position: relative;
  z-index: 2;
  margin-top: 40px;
}

.mid-menu a {
  padding: 0 25px;
  color: #fff;
  font-weight: 550;
}

.header-title {
  position: relative;
  z-index: 2;
  margin-top: 60px;
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}
.header-name {
  color: #fff;
  font-family: Cupcakes;
  font-size: 56px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.hot-tour {
  margin: 0 auto;
  margin-top: -180px;
  width: var(--normal-width);
  background-color: #fff;
  box-shadow: 1px 6px 46px -10px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  position: relative;
  z-index: 2;
  /* position: absolute;
   top: 100%; 
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.hot-tour-title {
  padding: 0 20px;
  position: relative;
}
.hot-tour-title h1 {
  font-weight: 400;
}
.hot-tour-title::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 20px;
  width: 83%;
  border-top: 1px dashed #dfdfdf;
}

.hot-tour-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.hot-tour-content img {
  width: 100%;
  height: 250px;
}

.hot-tour-1,
.hot-tour-2,
.hot-tour-3 {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0000000b, #0000003c, #000000);
}

.hot-tour-text {
  position: absolute;
  color: white;
  left: 20px;
  right: 20px;
  bottom: 20px;
  font-weight: 500;
}

.hot-tour-text h2 {
  padding-bottom: 5px;
}

.hot-tour-text p {
  padding-top: 5px;
}

.hot-tour-header {
  opacity: 0.6;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  
}
.about-title{
  padding-bottom: 20px;
}
.about-us img {
  width: 50%;
}
.about-line {
  display: flex;
  padding: 10px;
  align-items: center;
}
.about-line1{
  padding-bottom: 10px;
}
.about-line i {
  color: #f7cb00;
  font-size: 35px;
  padding-right: 20px;
}
.tour-general {
  /* padding: 50px 0; */
  padding-top: 50px;
}

.general-head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.general-head a {
  color: #000;
}

.general-head ::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 115px;
  width: 71%;
  border-top: 1px dashed #dfdfdf;
}

.general-content {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.general-box {
  box-shadow: 1px 6px 46px -10px rgba(0, 0, 0, 0.2);
}

.general-box img {
  width: 100%;
  height: 260px;
}

.general-box-row-2 {
  padding: 20px;
}

.general-box-row-2 h1 {
  font-size: 15px;
  padding-bottom: 15px;
}
.favourite {
  padding-top: 40px;
}

.favourite-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.favourite-header ::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 115px;
  width: 68%;
  border-top: 1px dashed #dfdfdf;
}
.favourite-header a {
  color: #000;
}
.favourite-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.f-img {
  position: relative;
}

.f-img img {
  width: 100%;
  height: 222px;
}
.f-i-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}

.f-i-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.f-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: linear-gradient(#00000000, #0000007d, #000000dd);
}

.post-video {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.exprience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.experience-header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.experience-header::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 85px;
  width: 55%;
  border-top: 1px dashed #dfdfdf;
}
.experience-header a {
  color: #000;
}
.post {
  padding: 20px 0;
  display: flex;
  border-top: 1px dashed #dfdfdf;
}
.border-none {
  border: 0;
}
.post img {
  width: 95px;
  height: 60px;
}
.post-header {
  font-size: 15px;
}
.post-date {
  color: #868686;
  padding-top: 20px;
  font-size: 14px;
}
.post-content {
  padding-left: 10px;
}
.video h1 {
  padding-bottom: 20px;
  position: relative;
}

.video h1::after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  width: 77%;
  border-top: 1px dashed #dfdfdf;
}

.contact-us {
  color: #fff;
  background-color: #4385e6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  /* position: absolute; */
  /* margin-top: -45px; */
}
.contact-b {
  background-color: #f4f4f4;
  position: relative;
  height: 45px;
}
form {
  display: flex;
  justify-content: center;
}

input[type="email"],
input[type="name"] {
  border: 1px solid #dfdfdf;
  padding: 0.5em;
  width: 50%;
  box-sizing: border-box;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #f7c900;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
}

input[type="submit"]:hover {
  background-color: #23527c;
}

.footer {
  background: url(../src/img/footer.jpg) no-repeat top center;
  background-size: cover;

  position: relative;
  padding-top: 120px;
}
.footer-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.9;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  z-index: 4;
  padding-bottom: 10px;
}
.f-header {
  color: #fff;
}

.copyright {
  padding: 30px 0;
  position: relative;
  z-index: 9999;
}

.contact-content h1 {
  font-size: 20px;
  padding-bottom: 5px;
}

.f-header {
  font-size: 17px;
  padding-bottom: 20px;
}
.f-col li {
  list-style: none;
  padding: 5px 0;
}
.f-col a {
  opacity: 0.6;
}

.facebook {
  padding-left: 20px;
  align-items: center;
  display: flex;
  height: 50px;
  border-left: 1px solid #fff;
}
.facebook a {
  font-style: italic;
  opacity: 0.4;
}
.prize{
  color:#F7CB00 ;
  font-size: 15px;
  font-weight: 600;
}
.pt{
  padding-top: 20px;
}

.a-o{
  font-weight: 300 ;
  color:#949494 !important;
}
